_/

.be/id-cache

*~
\#*\#
.\#
*.swp
*.bak

/dist/*/*/*
!/dist/*/*/PKGBUILD

*.gz
*.xz
*.info
*.pdf
*.ps
*.dvi

/epilepsi.aux
/epilepsi.cp
/epilepsi.cps
/epilepsi.fn
/epilepsi.ky
/epilepsi.log
/epilepsi.pg
/epilepsi.toc
/epilepsi.tp
/epilepsi.vr
/epilepsi.op
/epilepsi.ops
/epilepsi.pgs
/epilepsi.vrs

*.jar
*.class
bin/

